.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #393E46;
    overflow-x: hidden;
    padding-top: 35px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #eee;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    margin-left: 10px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu_btn {
    padding: 10px;
    background-color: #393E46;
    border-radius: 100px;
    margin: 20px 0 0 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}